<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    {% include 'metadata.html' %}
</head>
<body>
<div class="center">
    <img id="pfp" src="{{ current_user.avatar_url }}"/>

    <h1>
        {{ current_user.username }}<sub><font color="#c3c3c3">#{{ current_user.discriminator }}</font></sub>
    </h1>

    <div class="discord-login-status">
        Logged In with
        <span class="iconify" data-icon="jam:discord"></span> Discord
    </div>

    <h2>
        "System Name Goes Here"
    </h2>

    <hr/>

    <h1>Are You Sure?</h1>

    Deleting your account will immediately delete all your alters and
    subsystems. This data can never be recovered!

    To continue, please type the following verification code:

    <hr />

    <form method="post">

        {{ status }}

        <input readonly name="correct_verification_code" value="{{ verification_code }}"/>
        <br />
        <input type="text" name="verification_code" placeholder="Enter verification code" />
        <br /><br />

        <button class="action-btn"
                type="submit"
                name="submit_button"
                style="background: red;">
            <span class="iconify" data-icon="jam:trash"></span>
            Confirm
        </button>

    </form>

</div>
</body>
</html>