<!DOCTYPE html>
<html>
  <head>
    <title>Name In Progress</title>

    {% include 'metadata.html' %}
  </head>
  <body>
    <div class="center">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small/default-avatar-profile-icon-of-social-media-user-vector.jpg" id="pfp"/>

      <h1>
        Name<sub><font color="#c3c3c3">In</font></sub>Progress
      </h1>
      <h2>
        A Web Application For Organising Systems
      </h2>

      <hr />

      <p>
        Welcome to this simple web application designed to help organise information about DID &amp; OSDD systems.
      </p>
      <p>
        This application is still in early development. Many features will be buggy and will not work as intended.
      </p>

      <hr />

      {% include 'discord-login-btn.html' %}

    </div>
  </body>
</html>